* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: darkcyan;
  color: #14213d;
  height: 100vh;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startmenu-container {
  display: flex;
  background-color: cornsilk;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 4px 6px grey;
  line-height: 1.15;
}

#start-button {
  border-radius: 0.5em;
  width: 5em;
  height: 2em;
  margin: 1em 3em;
}

#CPU-radio {
  padding-top: 0.5em;
}

#gameboard-container {
  display: none;
  width: 500px;
  background-color: cornsilk;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 4px 6px grey;
}

#gameboard-header {
  display: flex;
  justify-content: space-between;
}

.player-card {
  background-color: cornsilk;
  width: 8em;
  height: 4em;
}

#gameboard {
  display: grid;
  background-color: coral;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.75em;
}

.grid-item {
  border: none;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
}

.grid-item:hover {
  background-color: blanchedalmond;
}

.grid-item:active {
  background-color: red;
}